@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: rgb(71, 59, 177);
}

.q {
    text-align: center;
    color: aqua;
    font-size: 40px;
}

.w {
    text-align: center;
    color: aqua;
    font-size: 23px;
}

.e {
    font-family: 'Lobster', cursive;
    color: rgb(59, 167, 17);
    text-align: center;
}

.r {
    margin-left: 500px;
    width: 900px;
    height: 500px;
}

.t {
    color: black;
    margin-top: -940px;
}

.t:hover {
    color: azure;
}